html, body {
  margin: 0;
  padding: 0;
  background-color: #7C818C;
  position: relative;
  min-height: 100vh;
}

.center-third {
  position: relative;
  margin: 0px auto 0px auto;
  min-height: 100vh;
  max-width: 1000px;

  background-color: #4B5162;
  color: #F4F4F4;
}

.linkList ul {
  list-style-type:none;
}

.mtg-card-center-50 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
