
.post {
  color: var(--post-text-color);
  min-height: 100vh;
  position: relative;
  margin-left: 300px;

  padding: 1px 30px 1px 30px;
}

.post h2, h3, h4, h5, h6 {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.post a {
  margin: 0;
  padding: 0;
  color: var(--post-link-color);
}

.post a:hover {
  color: var(--post-text-color);
}

.post table {
  border: 1px solid var(--post-block-border-color);
  border-left: 5px solid var(--post-block-border-color);
  background-color: var(--post-block-bkgd-color);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.post td, th {
  padding: 5px 10px;
  border-left: 1px solid var(--post-block-border-color);
}

.post tbody td {
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.post table thead th {
  background: var(--post-block-bkgd-color);
  border-bottom: 2px solid var(--post-block-border-color);
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.post-header-image {
  margin: 0;
  padding: 0;
  width: 100%;
}

.post blockquote {
  border: 1px solid var(--post-block-border-color);
  border-left: 5px solid var(--post-block-border-color);
  padding: 0.25em 1.5em;
}

.post pre {
  background: var(--post-block-bkgd-color);
  border: 1px solid var(--post-block-border-color);
  border-left: 5px solid var(--post-block-border-color);
  color: var(--post-text-color);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
