.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #373737;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav h1, h2, a {
  padding-right: 32px;
  padding-bottom: 0px;
}

.sidenav h1 {
  margin: auto;
  color: white;
}

.sidenav h2 {
  margin: auto;
  color: #7C818C;
}

.sidenav a {
  padding-right: 32px;
  text-decoration: none;
  font-size: 25px;
  color: #5294E2;
  display: block;
  border: 5 solid;
  margin: 5px;
}

.sidenav a:hover {
  color: #f1f1f1;
}
