.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: var(--sidenav-background-color);
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav h1, h2, a {
  padding-right: 32px;
  padding-bottom: 0px;
}

.sidenav h1 {
  margin: auto;
  color: var(--sidenav-text-color);
}

.sidenav h2 {
  margin: auto;
  color: var(--sidenave-subtitle-color);
}

.sidenav a {
  padding-right: 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--sidenav-link-color);
  display: block;
  border: 5 solid;
  margin: 5px;
}

.sidenav a:hover {
  color: var(--sidenav-text-color);
}
